<div class="container">
<form class="form" [formGroup]="paymentForm">
  <div class="form-group">
    <label for="username" class="label">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      required
      [maxlength]="maxIban"
      name="fromAccountIban"
      formControlName="username"
    />
  </div>


  <div class="form-group">
    <label for="password" class="label">Password</label>
    <input
      type="text"
      class="form-control"
      id="password"
      name="password"
      formControlName="password"
      (input)="validateTokenInput('password')"
    />

    <div
      *ngIf="errorMessage"
      class="alert alert-danger alert-danger-error"
      [innerHTML]="errorMessage"
    ></div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!submitted" (click)="submits()">
    Log in
  </button>
  <app-auth-button></app-auth-button>
</form>


  <script async defer src="https://apis.google.com/js/api.js"></script>

</div>
